/* Общие стили */
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
address {
    font-style: normal;
} 
body {font-family: Montserrat, sans-serif;
    color: 2E2F42;
    background-color: #FFFFFF }

/*  header  */

/* Заголовок,кнопка і наші навички */


/* команда */

/* портфолио */

/* Підвал */
