/* Общие стили */
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
address {
    font-style: normal;
}


/* header */


/* Заголовок,кнопка і наші навички */


/* команда */

/* портфолио */

/* Підвал */
